SITE_SLUG=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_POSTHOG_KEY=phc_qLGp4N4eAUmmx7488WpbD95Q5aTYncDeiunemQ463RbS
NEXT_PUBLIC_POSTHOG_HOST=/load-content
POSTHOG_HOST=https://eu.i.posthog.com
